{% extends 'frame.html' %} 
{% block content %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto" style="background-position: absolute !important;">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>About this Site</h1>

                <p></p>

                <p class="mb-5">ReValues is a website that displays meters of various characteristics of characters throughout ReJane by
                    Patricia Park. Within this semester of British Literature, we have utilized meters various times to measure
                    our thoughts on various characters throughout the novels we have read. For example, we have metered the
                    extent of Mr. Rochester’s byronic heroism in Jane Eyre. In ReValues, I expand on this idea within a broader
                    scope by metering the development of a characteristic of my selected characters throughout the entire
                    novel.</p>
                <p class="mb-5">The metering done in our class notes were focused on particular points in the story - only once did we compare
                    the meterings from another point in the story to the one done in class. Within the context of the entire
                    novel, characters develop and their positions on the meters change; I want to express that change in
                    my Three-Part Harmony and along the way, further develop my website design ability.</p>
                <p class="mb-5">For this website, I chose 5 memorable points in the story for each character’s characteristic and I give
                    a short reason why I rated that character at that moment as I did. The rating is out of five with one
                    being the lowest rating and five being the highest rating. There is a slider at the bottom which you
                    can use to slide between the various points in the story. As the slider is moved from left to right,
                    the points in the story progress chronologically. The background image also changes to be one that is
                    relevant to that point in the story to add more aesthetic appeal.</p>
            </div>
        </div>
    </div>
</header>
{% endblock %}